@page "/dashboard"
@layout MainLayout

@inject BisleriumCafe.Data.Repositories.Repository<Spare> SpareRepository;
@inject BisleriumCafe.Data.Repositories.Repository<ActivityLog> ActivityLogRepository;

<MudContainer>

    <h3>Total Sales: @TotalTransactions</h3>
    <Chart Class="pa-4" Config="Config" Height="calc(100vh - 64px)"></Chart>
   
</MudContainer>